DISCORD_TOKEN=YOUR_DISCORD_TOKEN
CLIENT_ID=YOUR_CLIENT_ID
GUILD_ID=YOUR_GUILD_ID
ACHIEVEMENT_CENTER_CHANNEL_ID=YOUR_CHANNEL_ID
ACHIEVEMENT_CENTER_MESSAGE_ID=
LOG_PATROLI_ADMIN_CHANNEL_ID=
HALL_OF_HONOR_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_LOG_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_MESSAGE_ID=