DISCORD_TOKEN=YOUR_DISCORD_TOKEN
UNBELIEVABOAT_TOKEN=YOUR_UNBELIEVABOAT_TOKEN
UNBELIEVABOAT_URL=https://unbelievaboat.com/api/v1

CLIENT_ID=YOUR_CLIENT_ID
GUILD_ID=YOUR_GUILD_ID
CHANNEL_ID=YOUR_CHANNEL_ID

STAFFSUS_ID=YOUR_STAFF_ROLE_ID

LOG_PATROLI_CHANNEL_ID=YOUR_CHANNEL_ID
LOG_PATROLI_ADMIN_CHANNEL_ID=YOUR_CHANNEL_ID
LOG_PROMOTION_CHANNEL_ID=YOUR_CHANNEL_ID
LOG_BOT_CHANNEL_ID=YOUR_CHANNEL_ID

ACHIEVEMENT_CENTER_CHANNEL_ID=YOUR_CHANNEL_ID
ACHIEVEMENT_CENTER_MESSAGE_ID=

HALL_OF_HONOR_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_LOG_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_BOARD_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_MEMBER_CHANNEL_ID=YOUR_CHANNEL_ID
HALL_OF_HONOR_MESSAGE_ID=
